# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual environment
*venv/
env/
myvirtualenv/

# FastAPI
.env

# Node
node_modules/
build/
dist/

# React
.env
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db